@model IEnumerable<MyBlog.Entities.Concrete.Note>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row justify-content-center">
        <div >

            <h1>Notlar</h1>
            <hr />
            <p>
                <a asp-action="Create" class="btn btn-primary">Not Ekle</a>
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Title)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Text)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IsDraft)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LikeCount)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Category)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CreatedDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ModifiedDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ModifiedUserName)
                        </th>
                        <th width="150px"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Text)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IsDraft)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LikeCount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Category.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ModifiedDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ModifiedUserName)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm"> <i class="bi bi-pencil"></i></a>
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm"><i class="bi bi-card-text"></i></a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm"> <i class="bi bi-trash3-fill"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>